<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Analyze</title>
</head>
<body>
    <h1>Crear Analisis</h1>
    <form action="/analyze/uploadAnalyzePost" method="post" enctype="multipart/form-data">
        <input type="text" name="nombre">
        <input type="file" name="file" accept=".pdf, .png, .jpeg, .jpg">
        <button type="submit">Crear Analisis</button>
    </form>
</body>
</html>