<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index -- MalarIA</title>
</head>
<body>
    <h1>MalarIA</h1>
    <p>Bienvenido al sitio web de deteccion de la enfermedad Malaria</p>
    <button>Ingresar a la IA</button>
</body>
</html>